// primary
$primary-main: '#217BBF';
$primary-hover: '#1C6FAE';
$primary-dark: '#1C6FAE';
$primary-contrastText: 'rgb(228, 231, 234)';

// secondary
$secondary-main: '#80ba2d';
$secondary-hover: '#69a317';
$secondary-dark: '#80ba2d';
$secondary-contrastText: '#553b08';

// text
$text-primary: '#333333';
$text-secondary: '#767676';
$text-disabled: '#b18080';
$text-inActiveMenu: '#959696';
$text-activeMenu: '#fff';

// action
$actions-success: '#333333';
$actions-warning: '#767676';
$actions-fail: '#ff0000';
$actions-disabled: '#e5e5e5';
$actions-info: '#959696';


// other 
$other-mainBg: '#f2f6fc';
$other-white: '#FFF';
$other-hover: '#f5f5f5';
$other-gray: '#c5c5c5';
$other-black: '#000';
$other-gray01: '#e3e3e3';
$other-blue: '#2196f3';
$other-error: '#ff3925';
$other-green: '#45ec45';
$other-red: '#ff5959';
$other-yellow: '#f5e169';
$other-customBlack: '#383B3D';